mixin index( buttonText, dopTop, icon )
    .wrapper
        .header__container
            .header
                .header__logo
                .header__elements
            .header__info Нажатием кнопки "#{ buttonText }" абонент осуществляет подписку на интернет-ресурс &nbsp;
                a( href="http://videomeo.by/" ) videomeo.by.
                br
                | &nbsp;&nbsp;Стоимость подписки: 0.20 р. с НДС в день.
            case dopTop
                when 'Top'
                    .header__dopTop
                    .header__extra
                        .relation
                        #infoScreen.relation__content
                when 'noTop'
                    .header__extra
                        .relation
                        #infoScreen.relation__content
        .wrapper__form
            include text-check
            .button__container
                #firstScreen.button__check
                    label.check__label
                        input#mainCheckbox.check__input( type="checkbox" )
                        .check__checked
                    .check__container
                        label.check__big( for="mainCheckbox" ) Я СОГЛАСЕН
                        a.check__link( href="http://videomeo.by/static/mts-by-rules.html", target="_blank" )
                            div с условиями подписки
                button#submitButton.button__buy( onclick="document.getElementById('frm-btn').submit(); return false;" )
                    case icon
                        when 'icon'
                            span.button__text #{ buttonText }
                            span.button__icon
                        when 'no-icon'
                            span #{ buttonText }
            button.button__cancel( onclick="document.getElementById('frm-cancel').submit(); return false;" ) Отмена
        include footer
    script document.getElementById('mainCheckbox').addEventListener('click', function () { document.getElementById('firstScreen').classList.add('fadeOut'); document.getElementById('submitButton').classList.add('fadeIn'); document.getElementById('checked__textContainer').classList.add('fadeIn'); document.getElementById('infoScreen').classList.add( 'checked' )}); document.getElementById('secondCheckbox').addEventListener('click', function () { if(!document.getElementById('secondCheckbox').checked){ document.getElementById('submitButton').setAttribute( 'disabled', 'disabled' )}else{ document.getElementById('submitButton').removeAttribute( 'disabled', 'disabled' )} });


