#checked__textContainer.checked__textContainer
    label.checked__label
        input#secondCheckbox.checked__input( type="checkbox", checked="checked" )
        .checked__checked
    .checked__text Я согласен с &nbsp;
        a( href="http://videomeo.by/static/mts-by-rules.html", target="_blank" ) условиями подписки
