mixin button( text, icon )
    button#submitButton.button__buy( onclick="document.getElementById('frm-btn').submit(); return false;" )
        case icon
            when '+'
                span.button__text #{ text }
                span.button__icon
            when '-'
                span #{ text }

