.checked__textContainer
    label.checked__label
        input#secondCheckbox.checked__input( checked="checked" )
        .checked__checked
    .checked__text Я согласен с
        a( href="http://videomeo.by/static/mts-by-rules.html", target="_blank" ) с условиями подписки
