mixin button( text, icon )
    .button__container
        #firstScreen.button__check
            label.check__label
                input#mainCheckbox.check__input( type="checkbox" )
                .check__checked
            .check__container
                span.check__big Я СОГЛАСЕН
                a.check__link( href="http://videomeo.by/static/mts-by-rules.html", target="_blank" )
                    div с условиями подписки
        button#submitButton.button__buy( onclick="document.getElementById('frm-btn').submit(); return false;" )
            case icon
                when '+'
                    span.button__text #{ text }
                    span.button__icon
                default
                    span #{ text }

